<ion-header>
  <ion-navbar primary no-border-bottom>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mapa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="map">
  <div #map id="map"></div>

  <br>

  <ion-list>
    <ion-item>
      <ion-label>Visitar</ion-label>
      <ion-select [(ngModel)]="visitar" multiple="true" cancelText="Salir" okText="Ok!">
        <ion-option *ngFor="let item of listCiudades" value="{{item}}" checked="true">
          {{item}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Iniciar desde</ion-label>
      <ion-select [(ngModel)]="desde">
         <ion-option *ngFor="let item of listCiudades" value="{{item}}" checked="true">
          {{item}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Ir hasta</ion-label>
      <ion-select [(ngModel)]="hasta">
         <ion-option *ngFor="let item of listCiudades" value="{{item}}" checked="true">
          {{item}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <center>
    <button secondary outline full (click)="calcularRuta()">Ver ruta</button>
  </center>

  <ion-list>
    <ion-item *ngFor="let item of listRutas; let i = index">
      <h2>Ruta {{i + 1}}</h2>
      <h3>Desde {{item.start_address}}</h3>
      <h3>Hasta {{item.end_address}}</h3>
      <p>Distancia {{item.distance.text}}</p>
      <p>Duración {{item.duration.text}}</p>
    </ion-item>
  </ion-list>
</ion-content>
