.servicios {

}

$padding-left: 0px;
/*
.toolbar[colorselect] .segment-button.segment-activated {
    color: #ffffff;
}

ion-segment[colorselect] .segment-button {
    border-color: #007aff;
    color: #ffffff;
}

ion-segment[colorselect] .segment-button.segment-activated {
    color: #fff;
    background-color: #2196F3;
}
*/
